[Unit]
Description=Dome client

[Service]
Type=simple
WorkingDirectory=%h/dome
Environment="DOME_DB_CONFIG=%h/dome/db.json"
Environment="DOME_STATISTIC_CONFIG=%h/dome/statistic.json"
ExecStart=%h/workspace/dome/build/client/dome_client
