[Unit]
Description=Dome client

[Service]
Type=simple
Environment="DOME_DB_CONFIG=%h/workspace/dome/common/db.json"
Environment="DOME_COMMANDS_CONFIG=%h/workspace/dome/common/commands.json"
Environment="DOME_DATABASE=%h/workspace/dome/build"
ExecStart=%h/workspace/dome/build/client/dome_client
