[Unit]
Description=Dome client

[Service]
Type=simple
WorkingDirectory=%h/dome
Environment="DOME_DB_CONFIG=%h/workspace/dome/config/db.json"
Environment="DOME_COMMANDS_CONFIG=%h/workspace/dome/config/commands.json"
Environment="DOME_DATABASE=%h/dome"
ExecStart=%h/workspace/dome/build/client/dome_client
