[Unit]
Description=Dome IP camera endpoint
Requires=dome_core.service
After=dome_core.service

[Install]
RequiredBy=dome.target

[Service]
Type=simple
WorkingDirectory=%h/dome
ExecStart=/usr/bin/dome_ipcamera -c /home/pi/dome/ipcamera.json -l d
