[submodule "3rdparty/td"]
	path = 3rdparty/td
	url = https://github.com/tdlib/td.git
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "3rdparty/pigpio"]
	path = 3rdparty/pigpio
	url = https://github.com/joan2937/pigpio.git
