[Unit]
Description=Dome SenseAir S8 endpoint
Requires=dome_core.service
After=dome_core.service

[Install]
RequiredBy=dome.target

[Service]
Type=simple
WorkingDirectory=%h/dome
ExecStart=/usr/bin/dome_s8 -c /home/pi/dome/s8.json -l d
