[Unit]
Description=Dome dht22 endpoint
Requires=dome_core.service
After=dome_core.service

[Install]
RequiredBy=dome.target

[Service]
Type=simple
WorkingDirectory=%h/dome
ExecStart=/usr/bin/dome_dht22 -c /home/pi/dome/dht22.json -l d
