[Unit]
Description=Dome daemon

[Service]
Type=dbus
BusName=ru.dome
User=root
Group=root
Environment="DOME_IP_CAMERAS_CONFIG=/home/pi/dome/ipcamera.json"
ExecStart=/usr/bin/domed
